darkoktestserver.twilightparadox.com {
    log {
        output stderr
        level DEBUG
    }

    handle /api/* {
        uri strip_prefix /api
        request_body {
            max_size 5GB
        }
        reverse_proxy backend:8000 {
            transport http {
                read_timeout 3600s
                write_timeout 3600s
            }
        }
    }

    handle {
        reverse_proxy frontend:80
    }
}